<div class="container" style="padding-top:60px">
    <div class="row">
        <div class="card" style="padding-left: 20%; width:80rem;">
            <div class="card-body">
                <form action="/albums/add" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="artist">Artist Name</label>
                        <input type="text" class="form-control" name="artist" id="" required placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="Title">Album Title</label>
                        <input type="text" class="form-control" name="Title" id="" required placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="Label">Album Label</label>
                        <input type="text" class="form-control" name="Label" id="" required placeholder="Label">
                    </div>
                    <div class="form-group">
                        <label for="AlbumCover">Album Cover</label>
                        <input type="file" class="form-control" name="AlbumCover" id="" required
                            placeholder="upload here">
                    </div>
                    <div class="form-group">
                        <label for="Released">Release Date</label>
                        <input type="text" class="form-control" name="Released" id="" required
                            placeholder="Release Date">
                    </div>
                    <div class="form-group">
                        <label for="Singles">Singles</label>
                        <input type="text" class="form-control" name="Singles" id="" required placeholder="single">
                    </div>

                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <select class="form-control" name="Genre">
                            <option>Hip-Hop</option>
                            <option>Rock</option>
                            <option>Pop</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div>