<div class="container" style="padding-top:60px">
    <div class="row">
        <div class="card" style="padding-left: 20%; width:80rem;">
            <div class="card-body">
                <h1>Add Genre</h1>
                <hr><br>
                <form action="/genres/add" method="POST">
                    <div class="form-group">
                        <label for="Genre">Genre</label>
                        <input type="text" class="form-control" name="Genre" id="" required placeholder="Genre"
                            autofocus>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Genre</button>
                </form>
            </div>
        </div>

    </div>
</div>